# explore the ukcensus api (nomis data)

this notebook tries out a few things with the [ukcensus api](https://github.com/virgesmith/UKCensusAPI)

note this package requires a `cache` directory to sit alongside the present working directory, this is used to store python snippets that get data from the nomis api, it also can store a NOMIS_API_KEY file containing your unique id from [nomis](https://www.nomisweb.co.uk/myaccount/webservice.asp) - the cache dir is ignored in git, so your id will not be shared on the internet!

In [ ]:
import ukcensusapi.Nomisweb as CensusApi

api = CensusApi.Nomisweb("cache")
table = "KS201EW"
table_internal = "NM_608_1"
query_params = {}
query_params["date"] = "latest"
query_params["select"] = "GEOGRAPHY_CODE,CELL,OBS_VALUE"
query_params["RURAL_URBAN"] = "0"
query_params["CELL"] = "1...18"
query_params["MEASURES"] = "20100"
query_params["geography"] = "1249906691...1249906810,1249934531...1249934554"
df = api.get_data(table, query_params)

df.pivot(index='GEOGRAPHY_CODE',columns='CELL',values='OBS_VALUE')

In [1]:
"""
KS201EW - Ethnic group

Code autogenerated by UKCensusAPI
(https://github.com/virgesmith/UKCensusAPI)
"""

# This code requires an API key, see the README.md for details

# Query url:
# https://www.nomisweb.co.uk/api/v01/dataset/NM_608_1.data.tsv?CELL=1...4%2C+10...13&MEASURES=20301&RURAL_URBAN=0&date=latest&geography=1249906691...1249906810%2C1249934531...1249934554&select=GEOGRAPHY_CODE%2CCELL%2COBS_VALUE

import ukcensusapi.Nomisweb as CensusApi

api = CensusApi.Nomisweb("cache")
table = "KS201EW"
table_internal = "NM_608_1"
query_params = {}
query_params["date"] = "latest"
query_params["select"] = "GEOGRAPHY_CODE,CELL,OBS_VALUE"
query_params["RURAL_URBAN"] = "0"
query_params["CELL"] = "1...4, 10...13"
query_params["MEASURES"] = "20301"
query_params["geography"] = "1249906691...1249906810,1249934531...1249934554"
KS201EW = api.get_data(table, query_params)
df = KS201EW
df.head()

  GEOGRAPHY_CODE  CELL  OBS_VALUE
0      E01004197     1       36.1
1      E01004197     2        2.3
2      E01004197     3        0.1
3      E01004197     4       12.0
4      E01004197    10        0.2

In [2]:
df.head(10)

  GEOGRAPHY_CODE  CELL  OBS_VALUE
0      E01004197     1       36.1
1      E01004197     2        2.3
2      E01004197     3        0.1
3      E01004197     4       12.0
4      E01004197    10        0.2
5      E01004197    11       26.8
6      E01004197    12        1.1
7      E01004197    13        2.1
8      E01004198     1       31.5
9      E01004198     2        1.6

In [3]:
df.pivot(index='GEOGRAPHY_CODE',columns='CELL',values='OBS_VALUE')

CELL              1    2    3     4    10    11    12   13
GEOGRAPHY_CODE
E01004197       36.1  2.3  0.1  12.0  0.2  26.8   1.1  2.1
E01004198       31.5  1.6  0.1  10.8  0.3  38.3   0.9  0.8
E01004199       25.7  1.0  0.0   6.5  0.3  50.4   1.2  2.0
E01004200       44.1  2.2  0.2  16.3  1.6  19.7   1.5  1.7
E01004201       47.9  2.4  0.0   8.6  0.3  22.2   0.8  1.7
...              ...  ...  ...   ...  ...   ...   ...  ...
E01032783       31.6  1.1  0.0  19.6  0.8   7.9  12.6  4.2
E01032784       46.6  1.8  0.2  14.5  0.9  15.6   3.0  1.6
E01032785       42.3  3.1  0.1  14.3  0.4  13.1   1.7  1.5
E01032786       38.5  1.6  0.0  10.4  0.1  33.6   1.5  1.1
E01032787       18.8  1.0  0.0   7.0  0.7  56.8   0.8  1.6

[144 rows x 8 columns]